parameters:
    level: 5
    paths:
        - includes/stats_calculations.php
        - includes/inputvalidation.php
    excludePaths:
        - vendor/*
        - libs/*
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Variable \$db might not be defined#'
        - '#Variable \$userId might not be defined#'
        - '#Variable \$userData might not be defined#'
        - '#Variable \$i18n might not be defined#'
        - '#Variable \$memberCost might not be defined#'
        - '#Variable \$categoryCost might not be defined#'
        - '#Variable \$paymentMethodsCount might not be defined#'
        - '#Variable \$conditions in empty\(\) always exists#'
        - '#Function translate not found#'